*.classs
#package will be ignore
*.war
*.ear
#kdiff3 ignore
*.orig

#maven ignore
target/

#eclipse Ignore
.settings/
.project
.classpath

#idea ignore
.idea/
/idea/
*.ipr
*.iml
*.iws

#我的配置文件也不会提交
*.properties

#temp file
*.log
*.cache
*.diff
*.patch
*.temp

#system ignore  系统级别的忽略文件
.DS_Store
Thumbs.db